TETHYS_HOME="/usr/lib/tethys"
TETHYS_LOG="/var/log/tethys"
TETHYS_PERSIST="/var/lib/tethys_persist"
TETHYS_APPS_ROOT="/var/www/tethys/apps"
TETHYS_PORT=8000
NGINX_PORT=8080
POSTGRES_USER="postgres"
POSTGRES_PASSWORD="pass"
SKIP_DB_SETUP=false
TETHYS_DB_ENGINE='django.db.backends.postgresql'
TETHYS_DB_NAME='tethys_platform'
TETHYS_DB_USERNAME="tethys_default"
TETHYS_DB_PASSWORD="pass"
TETHYS_DB_HOST="postgres"
TETHYS_DB_PORT=5432
TETHYS_DB_SUPERUSER="tethys_super"
TETHYS_DB_SUPERUSER_PASS="pass"
PORTAL_SUPERUSER_NAME=""
PORTAL_SUPERUSER_EMAIL=""
PORTAL_SUPERUSER_PASSWORD=""
TETHYS_MANAGE="${TETHYS_HOME}/tethys/tethys_portal/manage.py"
BASH_PROFILE=".bashrc"
CONDA_HOME="/opt/conda"
CONDA__NAME=tethys
_NAME=tethys
ASGI_PROCESSES=1
CLIENT_MAX_BODY_SIZE="75M"
DEBUG="False"
ALLOWED_HOSTS=[localhost, 127.0.0.1, nginx]
CSRF_TRUSTED_ORIGINS=[http://localhost:8000, http://127.0.0.1:8000, http://localhost:8080, http://127.0.0.1:8080]
REDIS_URL=redis://valkey:6379/0
BYPASS_TETHYS_HOME_PAGE="True"
ADD_DJANGO_APPS=[]
SESSION_WARN=1500
SESSION_EXPIRE=1800
STATIC_ROOT="${TETHYS_PERSIST}/static"
STATIC_ROOT_CLEAR="True"
WORKSPACE_ROOT="${TETHYS_PERSIST}/workspaces"
MEDIA_ROOT="${TETHYS_PERSIST}/media"
MEDIA_URL="/media/"
QUOTA_HANDLERS=[]
DJANGO_ANALYTICAL={}
ADD_BACKENDS=[]
OAUTH_OPTIONS={}
CHANNEL_LAYERS_BACKEND="channels.layers.InMemoryChannelLayer"
CHANNEL_LAYERS_CONFIG={}
RECAPTCHA_PRIVATE_KEY=""
RECAPTCHA_PUBLIC_KEY=""
OTHER_SETTINGS=""


SITE_TITLE=""
FAVICON=""
BRAND_TEXT=""
BRAND_IMAGE=""
BRAND_IMAGE_HEIGHT=""
BRAND_IMAGE_WIDTH=""
BRAND_IMAGE_PADDING=""
APPS_LIBRARY_TITLE=""
PRIMARY_COLOR=""
SECONDARY_COLOR=""
PRIMARY_TEXT_COLOR=""
PRIMARY_TEXT_HOVER_COLOR=""
SECONDARY_TEXT_COLOR=""
SECONDARY_TEXT_HOVER_COLOR=""
BACKGROUND_COLOR=""
COPYRIGHT=""
HERO_TEXT=""
BLURB_TEXT=""
FEATURE_1_HEADING=""
FEATURE_1_BODY=""
FEATURE_1_IMAGE=""
FEATURE_2_HEADING=""
FEATURE_2_BODY=""
FEATURE_2_IMAGE=""
FEATURE_3_HEADING=""
FEATURE_3_BODY=""
FEATURE_3_IMAGE=""
CALL_TO_ACTION=""
CALL_TO_ACTION_BUTTON=""
PORTAL_BASE_CSS=""
HOME_PAGE_CSS=""
APPS_LIBRARY_CSS=""
ACCOUNTS_BASE_CSS=""
LOGIN_CSS=""
REGISTER_CSS=""
USER_BASE_CSS=""
HOME_PAGE_TEMPLATE=""
APPS_LIBRARY_TEMPLATE=""
LOGIN_PAGE_TEMPLATE=""
REGISTER_PAGE_TEMPLATE=""
USER_PAGE_TEMPLATE=""
USER_SETTINGS_PAGE_TEMPLATE=""

